h1 {
    text-transform: uppercase;
    color: teal;
}
h2 {
    text-transform: uppercase;
    font-style: oblique;
    color: olive;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
p {
    color: grey
}
span {
    color: rgb(105, 113, 116);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#background {
    background-color: white
}
.dropdown {
    position: relative;
    display: inline-block;
    background-color: black
}
.dropdown-content {
    display:none;
    position: center;
    background-color: gray
    padding: 12px 16px;
    z-index: 999;
    width: 600;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2,0.2)
}
.dropdown:hover .dropdown-content {
    display: block;
}