h1 {
    text-transform: uppercase;
    color: teal;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display:none;
    position: center;
    background-color: grey
    padding: 12px 16px;
    z-index: 999;
    width: 600;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown:hover .dropdown-content {
    display: block;
}